body {
  background-color: #35654D;
  margin: 0;
  padding: 0;
  font-family: 'Unica One', sans-serif;
  color: #ffffff;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav a:hover {
  color: #e05151;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.calculator-nav {
  background-color: #444;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.calculator-nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.calculator-nav li {
  margin: 0;
}

.calculator-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.calculator-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #e05151;
}

h1.advantage-heading {
  font-size: 80px; 
}



