.Calculator {
  background-color: #18471e;
  color: rgb(219, 204, 204);
  font-size: calc(1.5em);
}

.Calculator h1 {
  margin-top: 0;
  padding: 20px;
}

.App-link {
  color: #fb6161;
}

.hand {
  border: 1px solid white;
  padding: 10px;
  width: 200px;
  margin: 0 auto;
  min-height: 100px;
}

.actions {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #6d6d6d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5em;
  width: 60px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;

}

.card-sections button:hover {
  background-color: #e05151;
}

.card-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
  width: 200px;
  grid-auto-flow: row;
  margin-top: 30px;
  margin: 40px;

}

.card-selection button:first-child {
  grid-column: 1 / span 3;
}

.card-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  z-index: 2;
}


.dealer-card-section {
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin-left: 5%;
}

.player-card-section {
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  margin-right: 5%;
}

.middle-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.dealer-display {
  width: 140px;
  height: 200px;
  border-radius: 15px;
  border: 10px solid rgb(196, 201, 34);
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 45px;
}

.dealer-text {
  z-index: 1;
  opacity: .6;
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg); 
}

.hand-display,
.best-play {
  border: 1px solid white;
  padding: 10px;
  width: 90%;
  margin: 20px auto;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}