/* .Calculator {
  background-color: #35654D;
  color: rgb(202, 202, 202);
  font-size: calc(1.5em);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0px;
  overflow: hidden;
} */

.Calculator h1 {
  margin-top: 0;
  padding: 20px;
}

.App-link {
  color: #CD4C4C;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #6d6d6d;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5em;
  width: 60px;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.best-play-display {
  margin-bottom: 20px;
  font-size: calc(1.75em);
}

.best-play-action {
  color: yellow;
  font-weight: bold;
}

.card-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  z-index: 2;
}

.card-sections {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
}

.card-sections button:hover {
  background-color: #CD4C4C;
}

.card-selection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-items: center;
  width: 200px;
  grid-auto-flow: row;
  margin-top: 30px;
  margin: 40px;
}

.card-selection button:first-child {
  grid-column: 1 / span 3;
}

.card-in-hand {
  position: absolute;
  width: 140px; 
  height: 200px; 
  transition: transform 0.15s ease-in;
}

.dealer-card-section {
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  margin-left: 5%;
}

.dealer-display {
  width: 140px;
  height: 200px;
  border-radius: 15px;
  border: 10px solid rgb(42, 80, 61);
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 45px;
}

.dealer-text {
  z-index: 1;
  opacity: .6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  letter-spacing: 8px;
}

.hand-area-text {
  font-size: 1.5em;
  color: white;
  width: 100%;
  position: relative;
  top: -140px;
  font-size: 65px;
  letter-spacing: 10px;
  text-align: center;
  z-index: 1;
  opacity: .6;
}

.middle-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

.player-card-section {
  justify-content: flex;
  align-items: center;
  width: 375px;
  margin-right: 5%;
}

.player-hand-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10px;
  width: 30%;
  height: 220px;
  margin: 0px auto;
  position: relative;
}

.player-hand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  min-height: 150px;
  z-index: 2;
}

.reset-button {
  width: 250px; 
  margin: 20px 45px;
}