.button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px; 
}

.playButton {
  margin-right: 10px;
}

.button {
  display: inline-block;
  padding: 20px 40px; 
  background-color: rgb(42, 80, 61);;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px; 
  cursor: pointer;
  border: none;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #45a049;
}