
.register-container .form-field {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: auto;
    margin-left: 35%;
    width: 100%;
    margin-bottom: 10px;
    max-width: 25%;
}

.register-container .form-field label {
    margin-right: 10px;
    width: 100%;
    text-align: right;
}

.register-container .form-field input {
    width: 100%;
}

.error {
    color: red;
    margin-top: 5px;
}

.form-field {
    margin-bottom: 10px;
    position: relative;
    color: #ffffff;
}

.form-field label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.form-field input {
    border:none;
    border-bottom:3px solid #ffffff;
    width: 350px;
    margin: 20px 0px;
    outline: none;
    font-size: 1rem;
    padding: 5px 0px;  
    background: transparent;
    color: #ffffff;
    font-family: 'Unica One', sans-serif;
}

.register-btn {
    margin-bottom: 50px;
    width: 15%;
    align-self: center;
    color: white;
    border: none;
    height: 42px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.35s;
    background: rgb(42, 80, 61);

}

.register-container > div:last-child {
    text-align: center;
}