.rules-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .rules-content p {
    font-size: 16px;
    margin-top: 10px;
    color: rgb(202, 202, 202);
    text-align: left; 
    line-height: 250%;
  }

  .rules{
    text-align: center;
  }

  .terms{
    line-height: 2.0%;
  }
  